<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">© NWise 2015</a>
        <div class="col-md-4">
        <ul>
          <li><%= link_to "About", "#" %></li>
          <li><%= link_to "Contact", "#" %></li>
          <li><%= link_to "Get Support", "#" %></li>
          <li><%= link_to "Privacy Policy", "#" %></li>
        </ul>
        </div>
      </div>
    </div>
</footer>